 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: 'Rubik';
        font-size: 12px;
        font-weight: lighter;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }


      .toast
{

position: fixed;
    bottom:0px;
    left: 0px;
    text-align: left;
    background: #fff;
    border-top: 1px #eee solid;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    height: 50px;
    padding: 15px;
    z-index: 200;
    color: #222;
    width: 100%;
}