body
{
	margin:0px;
	padding: 0px;
	font-family: 'Rubik' !important;
	font-weight:lighter;
	font-size:12px;
	color: #222;
	overflow-x: hidden !important;
	overflow-y:hidden !important;
	font-weight: lighter !important;;
}



.btn-primary
{
	background:#1d1851 !important;
	border:0px !important;
}

.label-primary
{
	background:#1d1851 !important;
	border:0px !important;
}




.bg-danger {
    background-color: #b93d3c !important;
    color:#fff !important;
}


.bg-success {
    background-color: #5cb85c !important;
    color:#fff !important;
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
background:#eee;
      
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ddd; 
}


.row
{
	margin: 0px !important;
}
.input1b
{
	border: 0px;
	border-bottom:1px #fff solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important
}

.input1bdark
{
	border: 0px;
	border-bottom:1px #ddd solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important;
	border-radius: 0px !important;
}

.input1bRed
{
	border: 0px;
	border-bottom:1px #b93d3c solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important
}


.footer
{
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100%;
	margin:0px !important;
}

.logHeadBack
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14112c+0,0c092d+99 */
background: #14112c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #14112c 0%, #0c092d 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #14112c 0%,#0c092d 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #14112c 0%,#0c092d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14112c', endColorstr='#0c092d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.header
{
background: #19153f; /* Old browsers */

	position: fixed;
	top:0px;
	height:40px;
	width: 100%;
	z-index: 2000;
            margin: 0px;

            color: #fff;
-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

.shadow
{
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

.sideMenu
{
	background: #fff;
	border-right:1px #eee solid;

-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    padding: 0px !important;
    overflow-y: auto;
}




.tableUpper
{
  width: 100%;

}

.tableUpper td
{
  width: 100%;
  padding:20px 10px;

border-bottom:1px #ddd solid;
color: #555;
}

.textHead
{
  font-weight: bold;
  margin-bottom: 10px;
}



.tableUpper tr:hover td
{


  cursor: pointer;

}



.sideMenuTable
{
	width: 100%;
}

.sideMenuTable td
{
padding:20px 10px;

border-bottom:1px #ddd solid;
color: #555;
}


.sideMenuTable tr td:nth-child(1)
{
text-align: center;
width: 15%;
font-size: 15px;

}

.sideMenuTable tr td:nth-child(2)
{
text-align: left;
width: 85%;
font-size: 12px !important;
}


.sideMenuTable tr.active td
{
	color:#fff !important;
	background: #b93d3c;
	border-bottom:1px #b93d3c solid;
}

.sideMenuTable tr:hover td
{
	color:#fff !important;
	background: #b93d3c;
	cursor: pointer;
		border-bottom:1px #b93d3c solid;
}


.sideMenuTableSmall
{
	width: 100%;
}


.sideMenuTableSmall td
{
padding:20px 10px;

border-bottom:1px #ddd solid;
color: #555;
}
.sideMenuTableSmall tr td:nth-child(1)
{
text-align: center;
width: 15%;
font-size: 15px;

}

.sideMenuTableSmall tr td:nth-child(2)
{
display: none !important;
}


.sideMenuTableSmall tr.active td
{
	color:#fff !important;
	background: #b93d3c;
	border-bottom:1px #b93d3c solid;
}

.sideMenuTableSmall tr:hover td
{
	color:#fff !important;
	background: #b93d3c;
	cursor: pointer;
		border-bottom:1px #b93d3c solid;
}

.btn
{
	outline: none !important;
}



.label
{
	cursor: pointer;
}
.fetch td
{
	font-size: 12px !important;
}
.fetch tr
{
	cursor: pointer;
}

.fetch
{
	border: 1px #eee solid;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}
.moduleHead
{
	padding: 10px;
	border-bottom: 1px #eee solid;
}
.moduleHeading
{
	font-size:20px;
	color: #2b2a3e;
	display: inline-block;
	margin: 0px 0px 20px 0px;
	border-bottom:2px #2b2a3e solid;

}

.formHead
{
	background:#F1F4F9;
padding:5px;
font-size:14px;
font-weight:bold;
color:#444;
border:1px #eee solid;
}

.formCol
{
	background:#fff;
	height:auto !important;
}

.divShadow
{
	background:#fff;
}


.divLeft
{
text-align:right;
border-right:1px #eee solid;
border-bottom:1px #eee solid;
height:auto !important;
min-height:40px !important;
padding-top:10px;
background:#F7F7F9;
    font-weight: bold !important;
    font-size: 11px !important;
    color: #555;
}


.divRight
{
text-align:left;
border-right:1px #eee solid;
border-bottom:1px #eee solid;
height:40px !important;
padding-top:5px;
}


.toast
{

position: fixed;
    bottom:0px;
    left: 0px;
    text-align: left;
    background: #fff;
    border-top: 1px #eee solid;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    height: 50px;
    padding: 15px;
    z-index: 20000000 !important;
    color: #222;
    width: 100%;
}




.loading
{
	background: rgba(255,255,255,0.8);
	position: fixed;
	top:0;
	left:0;
	height:2000px;
	width:100%;
	z-index: 200000;
	display: none;
}

.li-selected
{
	background: #eee url('../images/checked.png') no-repeat scroll 96% center !important;

}





.table .w3-label-custom
{
	color: #ddd !important;
}

.circleBig
{
	margin-top:20px;
	border-radius:50%;
	height:50px;
	width:50px;
	background: #fff;
	text-align: center;
	padding-top: 17px;
	color: #fff;
}

tr.notlive td:last-child
{
		background: #f7f7f7 url('../images/notlive.png') no-repeat scroll 96% center;
}


tr.live td:last-child
{
		background: #fff url('../images/live.png') no-repeat scroll 96% center;
}


tr.halt td:last-child
{
		background: #fff url('../images/halt.png') no-repeat scroll 96% center;
}


tr.running td:last-child
{
		background: #fff url('../images/running.png') no-repeat scroll 96% center;
}



tr.selectedred td i
{
color:#fff;
}

tr.selectedred td
{
	background: #b93d3c;
	color:#fff;
}


tr.selectedred td:last-child
{
	background: #b93d3c url('../images/arrow-right.png') no-repeat scroll 96% center;
	color:#fff;
}


tr.selectedItem td
{
	background: #f9e4c5;
}


tr.selectedItem td:last-child
{
	background: #f9e4c5 url('../images/checked.png') no-repeat scroll 96% center;
}

.operatelist td
{
	padding:20px 10px !important;
	font-size:12px;
	cursor: pointer;
}

.operatelist td i
{
color:#999;
font-size: 10px;
}

.playControls td
{
	text-align: center;;
	padding: 5px;
	color: #222;

}


.playControls td.inactive
{

	color: #999;
}



.switch {
  position: relative;
  display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
    height: 21px;
    width: 21px;
    left: 0px;
    bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.chartist-tooltip {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #1d1851;
  color: #fff;
  font-family: 'Rubik';
  text-align: left;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #222; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-area, .ct-line {
  pointer-events: none; }

/*# sourceMappingURL=chartist-plugin-tooltip.css.map */




.filterTabs
{
  width:100%;

}

.filterTabs td
{
  font-size:10px !important;
  color:#222 !important;
  width: 33%;
  border-bottom:3px #f7f7f7 solid;
  text-align: center;
}

.filterTabs td.active
{
  border-bottom:3px #b93d3c solid;
}

.filterTabLi
{
  cursor: pointer;
  text-align: center !important;
  background: #f7f7f7 !important;
  padding: 0px !important
}

.pagination li
{
display: inline-block;
background: #fff;
border: 1px #eee solid;
padding:5px;
cursor: pointer;; 
}


.midBox
{
  border: 1px #eee solid;
  padding:20px;
  text-align: center;
  cursor: pointer;
}




.midBox:hover
{
  background:#c9302c;
  color: #fff; 
}

.dropdown-menu li
{
padding:10px;
border-bottom: 1px #eee solid;
cursor: pointer;
}